.quiz-mian-box{
  border: 2px solid black;
  height: 60vh;
  width: 30%;
  margin: 20vh auto auto auto;
  border-radius: 2vh;
  background-color: rgb(80, 80, 163);
} 
.quiz-div1{
  border: 2px solid black;
  height: 60vh;
  width: 50vh;
  border-radius: 2vh;
  justify-content:space-between;
  display: flex;
}
.quiz-div1 div{
  border: 2px solid red;
}
.quiz-div1 div span{
  font-size: large;
  font-weight: bolder;
}






/* navbar */

/* Default styling for navigation bar */
.nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: blue;
}

/* Styling for menu items in the navigation bar */
.nav-menu {
  display: flex;
  border: 2px solid red;
  width: 40%;
  justify-content: space-between;
}
.mobile-menu{
  display: none;
}
/* Media query for screens 620 pixels or less */
@media screen and (max-width: 650px) {
  /* Hide desktop navigation */
  .nav-menu {
    display: none;
  }

  /* Display mobile menu */
  .mobile-menu {
    display: flex;
    flex-direction: column; /* Stack items vertically in mobile view */
    align-items: center;
    background-color: rgb(90, 90, 228);
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  /* Styling for the mobile menu select element */
  .mobile-menu select {
    width: 100%;
    padding: 5px;
    margin-top: 5px; /* Add margin for better spacing */
  }
}

 